<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>{{ task.getDescription }}</h1>

    {% if tasks is not empty %}
        <p>Here are your tasks:</p>
        <ul>
            {% for task in tasks %}
                <li><a href='/tasks/{{ task.getId }}'>{{ task.getDescription }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

  <h4> Add a task </h4>

    <form action='/tasks' method='post'>
        <input id="done" name="done" type="hidden" value="0">
        <label for="description">Task description:</label>
        <input name="description" id="description" type="text">

        <button type="submit" name="button">Add task</button>
    </form>

    <form action="/delete_tasks" method="post">
      <button type="submit" name="button"> Delete </button>
    </form>
    <p><a href='/'>Home</a></p>
</body>
</html>
